@use '../../style' as s;

main {
	display: flex;
	flex-direction: column;
	gap: s.space(5);
}

.blog-header {
	display: flex;
	flex-direction: column;
	gap: s.space(5);
}

.blog-nav {
	display: flex;
	justify-content: space-between;
}

.blog {
	display: flex;
	flex-direction: column;
	gap: s.space(3);
}
