<main id='main'>
<!-- 	<header class="blog-header">
		<nav class='blog-nav'>
			<a href="/">
				<img class='icon' src="/svg/back.svg">
			</a>
			<a href="/">
				<img class="profile-picture" src="/img/profiles/{{data.profile_img}}.png" alt="profile">
			</a>
		</nav>

		<h1>My Blog</h1>

	</header>
	<ul class="blog">
		{{#each data.blog}}
			{{>blog-post data=this}}
		{{/each}}
	</ul> -->
</main>
