<div class="blog-post{{#if greyed}} blog-post--greyed{{/if}}">

	{{#with data}}

	<div class='blogpost-header'>
		{{#if hasBubbles}}
		<ul class="bubble-row">
			{{#each bubbles}}
				<li class='bubble-item bubble-item--{{accent}}'>{{text}}</li>
			{{/each}}
		</ul>
		{{/if}}

		<span class='date'>{{date}}</span>
	</div>

	<p class="blogpost-text">{{text}}</p>

	{{/with}}

</div>
